<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>



<title>Login V1</title>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/dashboard-api/login/images/favicon.ico'" type="image/ico" />


  <!-- Bootstrap -->
  <link th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/login/css/bootstrap.min.css'" rel="stylesheet">
  <link th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/dashboard-api/css/login/fonts/css/font-awesome.min.css'" rel="stylesheet">
  
  <link th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/login/css/animate.min.css'" rel="stylesheet">

  <link th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/login/css/custom.css'" rel="stylesheet">
  <link th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/login/css/icheck/flat/green.css'" rel="stylesheet">


  <script th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/login/js/jquery.min.js'"></script>
  
</head>
<body style="background:#FFFFFF;">

	<div id="wrapper">
	<p th:if="${param.error}" class="error">
            Bad Credentials  
        </p>
		<div id="login">
			<section class="login_content">
				<form th:action="${T(br.inatel.dashboard.constants.Constants).PREFIX} + ${T(br.inatel.dashboard.constants.Constants).DASHBOARD_URL}" method="post">
					<h1>Login Form</h1>
					<div>
					
					<input type="text" name="username" placeholder="Username"
							class="form-control" id="inputEmail" required="">
					</div>
					<div>
					
					<input class="form-control" type="password" name="password"
							id="inputPassword" placeholder="Password" required="">
						
					</div>
					
					
					<div>
					
						<button class="btn btn-default submit" >Login</button> 
						<a class="reset_pass" href="#" style="color:#337ab7;">Lost your password?</a>
					</div>
					<div class="clearfix"></div>
					<div class="separator">

						<p class="change_link" style="color:#000000;">
							New to site? <a th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} +  ${T(br.inatel.dashboard.constants.Constants).SIGN_UP_URL_FIRST_USER}" class="to_register" style="color:#337ab7;">
								Create Account </a>
						</p>
						<div class="clearfix"></div>
						<br />
						<div>
							<h1>
							</h1>

							<p></p>
						</div>
					</div>
				</form>
				<!-- form -->
			</section>
			<!-- content -->
		</div>

	</div>

</body>
</html>