<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">

<head th:replace="header :: copy"></head>

<head th:replace="topSiteANDMenu :: copy"></head>



<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="clearfix"></div>
		<div class="x_panel">
					<div class="x_title">
						<h2 th:text="${currentDashboard.name}"></h2>

						<h4>
							<a th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + ${T(br.inatel.dashboard.constants.Constants).NEW_WIDGET_URL} +'/'+ ${currentDashboard.id}"
								class="glyphicon glyphicon-plus"
								style="float: right; margin-right: 20px; color: green"></a>
							<a onclick="return confirm('Are you sure you want to erase this dashboard?')" th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} +  ${T(br.inatel.dashboard.constants.Constants).DELETE_DASHBOARD_URL} +'/'+ ${currentDashboard.id}" class="glyphicon glyphicon-trash"
								style="float: right; margin-right: 20px; color: red"></a>
						</h4>
						
						
						<div class="clearfix"></div>

					</div>

				</div>
				
				<!-- start nvalores [[${nvaloresArray}]] end nvalores -->
		<script th:inline="javascript">
		

var intervalID = window.setInterval(checkIfNewValues, 5000);

var aux3;

var length = [[${nvaloresArray.toString()}]]
var nvaloresArray = "["+ length.substring(1, length.length-1) +"]";;
var nvalores = [[${nvalores}]];
function checkIfNewValues() {
	//$.ajax(document.URL).done(function(data) {
	//$.ajax(document.URL).done(function(data) {
		
	//	$("#collapse1").html(data);
	    //var x = xpto($("#collapse1"));
	//$.ajax(document.URL, function(data) {
	$.get(document.URL, function(data) {
		
		var n1 = data.indexOf("start nvalores ");
		var n2 = data.indexOf(" end nvalores");
		
		var nvaloresArrayAux = data.substring(n1+15, n2);

		if(nvaloresArrayAux != nvaloresArray){
		
			nvaloresArray = nvaloresArrayAux;
			var n = data.lastIndexOf("<!----><div id='row'");
			var m = data.lastIndexOf("<!---->");
			var res = data.substring(n+35, m-9);
			
			 $('#row').html(res);
		}

		
		
		
		});
  
}
</script>

		<!----><div id='row' class='row'>


	<script
		th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/moment/moment.js'"></script>
	<script
		th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/moment/moment.min.js'"></script>
	<script
		th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/hammer/chart.min.js'"></script>

<script>
function myFunction(id) {
    
    var node = document.getElementById(id.parentNode.id);
    if (node.parentNode) {
    	
    	var url = "";
    	url = url + window.location.href
    			+ "/removeDiv";
    	var xhr2 = new XMLHttpRequest();
    	
    	xhr2.open("POST", url, true);
    	xhr2.setRequestHeader(
    			"Content-Type",
    			"application/json");
    	var data = JSON.stringify({
    		"id" : node.id
    	});
    	xhr2.send(data);
    	 node.parentNode.removeChild(node);
      
    }

}
</script>

<script th:inline="javascript">
						
							var widgets2 = [[${widgets}]];
						
			</script>

			<div th:id="${widget.id}" class="ui-widget-content"
				th:each="widget: ${widgets}"
				th:style="'height:' + ${widget.height} +'px' +';width:' + ${widget.width} +'px; min-width:10px; float:left ;margin-left: 10px; margin-top:10px; max-width:100%; max-height:100%'"
				>       				

				<h5 style="font-weight: bold; color:#535353;white-space: nowrap; overflow: hidden; float:left; margin-top:2px" th:text="${widget.name}"></h5> 
                   <a onclick="myFunction(this)"><i class="fa fa-close" style="float:right; margin-top:2px"></i></a>
                  
				<div th:if="${widget.typeList[0]} == 'bar'" th:id="'chart' + ${widget.id}" style="margin-top:20px"></div>
				
				<div th:if="${widget.typeList[0]} == 'line'" th:id="'chart' + ${widget.id}" style="margin-top:20px"></div>
				
				<div th:if="${widget.typeList[0]} == 'area'" th:id="'chart' + ${widget.id}" style="margin-top:20px"></div>
				
					<script th:if="${widget.typeList[0]} == 'bar'" th:id="'script' + ${widget.id}" th:inline="javascript">
		
					
					
						$(function() {
							var widget = [[${widget}]];
							var parentDiv = document.getElementById([['script' +${widget.id}]]).parentNode;							
							plotlyChart(widget, parentDiv);
						});
					</script>
					
					<script th:if="${widget.typeList[0]} == 'line'" th:id="'script' + ${widget.id}" th:inline="javascript">
		
					
					
						$(function() {
							var widget = [[${widget}]];
							var parentDiv = document.getElementById([['script' +${widget.id}]]).parentNode;							
							plotlyChart(widget, parentDiv);
						});
					</script>
					
					<script th:if="${widget.typeList[0]} == 'area'" th:id="'script' + ${widget.id}" th:inline="javascript">
		
					
					
						$(function() {
							var widget = [[${widget}]];
							var parentDiv = document.getElementById([['script' +${widget.id}]]).parentNode;							
							plotlyChart(widget, parentDiv);
						});
					</script>

					
			<div th:if="${widget.typeList[0]} == 'map'" th:id="'map' + ${widget.id}" style=" height: -webkit-calc(100% - 35px);
    height:    -moz-calc(100% - 35px);
    height:         calc(100% - 35px); width:100%; margin-right:30px; border: none !important;"></div>
    
    		<div th:if="${widget.typeList[0]} == 'group'" th:id="'map' + ${widget.id}" style=" height: -webkit-calc(100% - 35px);
    height:    -moz-calc(100% - 35px);
    height:         calc(100% - 35px); width:100%; margin-right:30px; border: none !important;"></div>

					<script th:if="${widget.typeList[0]} == 'map'" th:id="'script' + ${widget.id}" th:inline="javascript">
						$(function() {
							var widget = [[${widget}]];
							var parentDiv = document.getElementById([['script' +${widget.id}]]).parentNode;
							mapChart(widget, parentDiv);
						});
			</script>
			
			<script th:if="${widget.typeList[0]} == 'group'" th:id="'script' + ${widget.id}" th:inline="javascript">
						$(function() {
							var widget = [[${widget}]];
							
							var parentDiv = document.getElementById([['script' +${widget.id}]]).parentNode;
							
							var prefix = [[${T(br.inatel.dashboard.constants.Constants).PREFIX}]];
							
							lightChart(widget, parentDiv, prefix);
						});
			</script>
			
			</div>
		</div><!---->
	</div>
</div>
<!-- /page content -->


<div th:replace="footer :: copy"></div>

<!-- Chart.js -->
<!-- <script src="/dashboard-api/vendors/Chart.bundle.js"></script> -->
<script th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/hammer/hammer.min.js'"></script>
	<script th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/hammer/chartjs-plugin-zoom.js'"></script>
</div>

</body>

</html>