<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">

<head th:replace="header :: copy"></head>

<head th:replace="topSiteANDMenu :: copy"></head>



<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="clearfix"></div>
		<div class="x_panel">
					<div class="x_title">
						<h2 th:text="${currentDashboard.name}"></h2>

						<h4>
							<a th:href="@{/dashboard-api/newWidget} +'/'+ ${currentDashboard.id}"
								class="glyphicon glyphicon-plus"
								style="float: right; margin-right: 20px; color: green"></a>
						</h4>
						
						
						<div class="clearfix"></div>

					</div>

				</div>
				
				<!-- start nvalores [[${nvalores}]] end nvalores -->
		<script th:inline="javascript">
var intervalID = window.setInterval(checkIfNewValues, 5000);
var nvalores = [[${nvalores}]];
function checkIfNewValues() {
	
	
	//$.ajax("indicadores.php?id_indicador=2").done(function(data) {
	$.get(document.URL, function(data) {

		
		var n1 = data.indexOf("start nvalores ");
		var n2 = data.indexOf(" end nvalores");
		
		var nvaloresaux = data.substring(n1+15, n2);
		
		if (nvalores != nvaloresaux) {
			nvalores = nvaloresaux;
			var n = data.lastIndexOf("<!----><div id='row'");
			var m = data.lastIndexOf("<!---->");
			var res = data.substring(n+35, m-9);
			//document.getElementById('row').innerHTML = '';
			
			
			console.log(res);
			console.log([[${nvalores}]]);
			console.log(nvaloresaux);
			
			 $('#row').html(res);
		}
		});
	
	//$.get(document.URL, function(data) {
		
		//var n = data.indexOf("<div id='row'");
		//var m = data.lastIndexOf("<!---->");
		//console.log(n);
		//console.log(m);
		
		//var res = data.substring(n+26, m-9);
		//var res = data.substring(n, m);
		
		//var parser = new DOMParser();
		//var el = parser.parseFromString(res, "text/html");
		//console.log(res);
		
		
		
		//document.getElementById('row').innerHTML = '';
		//document.getElementById('row').appendChild(document.importNode(el.getElementsByTagName('div')[0],true));
		
		

		//var temp = document.createElement("div");
		//assuming you have some HTML partial called 'fragment'
		//temp.innerHTML = res;
		//document.getElementById('row').innerHTML = res;
		
		
		//document.getElementById('row').style.display = 'none';
		//document.getElementById('row').style.display = 'block';
		
		//});
	
	//var myvar;
	//$(myvar).load(document.URL +  ' #row');
	
	//console.log(myvar);

  // go check API 
  //console.log("checking weather API");
  
}
</script>

		<!----><div id='row' class='row'>


	<script
		src="/dashboard-api/vendors/moment/moment.js"></script>
	<script
		src="/dashboard-api/vendors/moment/moment.min.js"></script>
	<script
		src="/dashboard-api/vendors/chart.min.js"></script>

<script>
function myFunction(id) {
    
    var node = document.getElementById(id.parentNode.id);
    if (node.parentNode) {
    	
    	var url = "";
    	url = url + window.location.href
    			+ "/removeDiv";
    	var xhr2 = new XMLHttpRequest();
    	
    	xhr2.open("POST", url, true);
    	xhr2.setRequestHeader(
    			"Content-Type",
    			"application/json");
    	var data = JSON.stringify({
    		"id" : node.id
    	});
    	console.log("9");
    	xhr2.send(data);
    	console.log("10");
    	 node.parentNode.removeChild(node);
    	 console.log("11");
      
    }
    
    

   
}
</script>

			<div th:id="${widget.id}" class="ui-widget-content"
				th:each="widget: ${widgets}"
				th:style="'height:' + ${widget.height} +'px' +';width:' + ${widget.width} +'px; min-width:10px; float:left ;margin-left: 10px; margin-top:10px; max-width:100%; max-height:100%'"
				>       				
				
				
				<h5 style="font-weight: bold; color:#535353;white-space: nowrap; overflow: hidden; float:left; margin-top:2px" th:text="${widget.name}"></h5> 
                   <a onclick="myFunction(this)"><i class="fa fa-close" style="float:right; margin-top:2px"></i></a>
                  
				<canvas th:if="${widget.type} == 'line'" th:id="'canvas' + ${widget.id}" class="chartjs"
					style="padding-bottom: 30px">	</canvas>

						
								
								<script th:if="${widget.type} == 'line'" th:id="'script' + ${widget.id}" th:inline="javascript">
		
								
				$(function() {
					var max = Math.max(...[[${widget.plotValues}]]);
					var min = Math.min(...[[${widget.plotValues}]]);

					var parentDiv = document.getElementById([['script' +${widget.id}]]).parentNode;
					
					var chart = new Chart(
							document
									.getElementById([['canvas' +${widget.id}]]),
							{
								type : "line",
								data : {
									labels : [[${widget.labelValues}]],

									datasets : [ {
										label : [[${widget.variable}]],
										backgroundColor : "transparent",
										borderColor : "#0088d4",
										data : [[${widget.plotValues}]]
									} ]
								},

								options : {
									
									responsive: true,
								    maintainAspectRatio:false,
									elements : {
										line : {
											tension : 0
										}
									},

									scales : {
										yAxes: [{
									        ticks: {
														reverse: false,
														max: max +1,
														min: min -1			
														}
									      }],
										xAxes: [{
											ticks: {
										          // Make labels vertical
										          // https://stackoverflow.com/questions/28031873/make-x-label-horizontal-in-chartjs

										          // Limit number of labels
										          // https://stackoverflow.com/questions/22064577/limit-labels-number-on-chartjs-line-chart
										          autoSkip: true,
										          maxTicksLimit: 2
										        },
											  type: 'time',
											  position: 'bottom',
											  time: {
											    displayFormats: {'day': 'MMM D'},
											    tooltipFormat: 'DD:MM:YYYY',
											   }
											}]
									}
								}
							});
					
					
					$(parentDiv)
							.resizable(
									{
										stop : function(event, ui) {
											var url = "";
											url = url + window.location.href
													+ "/resizeDiv";
											var clientHeight = document
													.getElementById(parentDiv.id).clientHeight;
											var clientWidth = document
													.getElementById(parentDiv.id).clientWidth;
											var xhr = new XMLHttpRequest();
											xhr.open("POST", url, true);
											xhr.setRequestHeader(
													"Content-Type",
													"application/json");
											var data = JSON.stringify({
												"height" : clientHeight,
												"width" : clientWidth,
												"id" : parentDiv.id,
												"device" : [[${widget.device}]],
												"type" : [[${widget.type}]],
												"name" : [[${widget.name}]],
												"variable" : [[${widget.variable}]],
											});
											xhr.send(data);

											//var grapharea = document.getElementById([['canvas' +${widget.id}]]);

											//var myChart = new Chart(grapharea);

											chart.resize();
											//document.getElementById([['canvas' +${widget.id}]]).setAttribute("style",'width:' + clientWidth + 'px; height:' + clientHeight +'px');
										},
										resize : function(event, ui) {
											console.log("Resize3");
											ui.size.width = Math
													.round(ui.size.width / 30) * 30;
											ui.size.height = Math
													.round(ui.size.height / 30) * 30;
											console.log("Resize4");
										}
									});
				});
			</script>
			
			
			<div th:if="${widget.type} == 'map'" th:id="'map' + ${widget.id}" style=" height: -webkit-calc(100% - 35px);
    height:    -moz-calc(100% - 35px);
    height:         calc(100% - 35px); width:100%; margin-right:30px; border: none !important;"></div>
			
			
			
			
			<script th:if="${widget.type} == 'map'" th:id="'script' + ${widget.id}" th:inline="javascript">
				$(function() {
					var map = L.map([['map' + ${widget.id}]]).setView([[${widget.labelValues}]], 13);

					L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
					  attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
					}).addTo(map);

					L.marker([[${widget.labelValues}]]).addTo(map)
					 .bindPopup([['Latitude: ' + ${widget.labelValues[0]} + '<br>Longitude: ' + ${widget.labelValues[1]} + '<br> Received: ' + ${widget.labelValues[2]} ]] )
					 .openPopup();
					var parentDiv = document.getElementById([[${widget.id}]]);
					$(parentDiv)
							.resizable(
									{
										stop : function(event, ui) {
											var url = "";
											url = url + window.location.href
													+ "/resizeDiv";
											var clientHeight = document
													.getElementById(parentDiv.id).clientHeight;
											var clientWidth = document
													.getElementById(parentDiv.id).clientWidth;
											var xhr = new XMLHttpRequest();
											xhr.open("POST", url, true);
											xhr.setRequestHeader(
													"Content-Type",
													"application/json");
											var data = JSON.stringify({
												"height" : clientHeight,
												"width" : clientWidth,
												"id" : parentDiv.id,
												"device" : [[${widget.device}]],
												"type" : [[${widget.type}]],
												"name" : [[${widget.name}]],
												"variable" : [[${widget.variable}]],
												"variablesList": [[${widget.variablesList}]]
											});
											//document.getElementById([['map' + ${widget.id}]]).style.height = '100%';
											//document.getElementById([['map' + ${widget.id}]]).style.width = '100%';
											map.invalidateSize();
											xhr.send(data);
											
										},
										resize : function(event, ui) {
											ui.size.width = Math
													.round(ui.size.width / 30) * 30;
											ui.size.height = Math
													.round(ui.size.height / 30) * 30;
										}
									});
				});
				
				
				
				
			</script>
			
			
			
			<h3 th:if="${widget.type} == 'map'" class="ui-widget-header"></h3>
			
			
			</div>
		</div><!---->
	</div>
</div>
<!-- /page content -->


<div th:replace="footer :: copy"></div>

<!-- Chart.js -->
<script src="/dashboard-api/vendors/Chart.js/dist/Chart.min.js"></script>
</div>

</body>

</html>