<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="copy">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>In.IoT</title>
  <link rel="icon" th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/images/favicon.ico'" type="image/ico" />

  

	
  <!-- Bootstrap -->
  <link rel="stylesheet" th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/bootstrap/dist/css/bootstrap.min.css'" >
  <!-- Font Awesome -->
  <link th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/font-awesome/css/font-awesome.min.css'" rel="stylesheet">
  
  <!-- Custom Theme Style -->
  <link th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/custom.min.css'" rel="stylesheet">

  
  <link rel="stylesheet" th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/leaflet/leaflet.css'" />
		<script th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/lineChart.js'"></script>	
		<script th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/mapChart.js'"></script>	
		<script th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/lightChart.js'"></script>	
		<script th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/plotlyChart.js'"></script>	
		<script th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/plotly-latest.min.js'"></script>	
		<script th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/leaflet/leaflet-src.js'"></script>
  
  
  <link rel="stylesheet"
	th:href="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/css/code.jquery.com_ui_1.12.css'"/>
	 
	 <style>
	 
	 #container {
	width: 300px;
	height: 300px;
}

#container h3 {
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
}

.ui-widget-content {
	background-position: top left;

}

.ui-widget-content, #container {
	padding: 0.5em;
}

.ui-widget-content {

	padding: 0.5em;
}

.ui-widget-content h3 {
	text-align: center;
	margin: 0;
}

.ui-resizable-helper {
	border: 1px dotted gray;
}
</style>

<script th:src="${T(br.inatel.dashboard.constants.Constants).PREFIX} + '/js/code.jquery.com_jquery-1.12.4.js'"></script>
  



</head>

</html>