<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">

<head th:replace="header :: copy"></head>

<head th:replace="topSiteANDMenu :: copy"></head>



<!-- page content -->
<div class="right_col" role="main">
	<div class="">

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Registered Devices</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" style="overflow: auto;">

						<table class="table">
							<thead>
								<tr>
									<th>username</th>
									<th>Number of connected Clients</th>
									<th>clientID</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="mqttdevice : ${mqttdevices}">
								
									<td th:text="${mqttdevice.username}"></td>
									<td th:text="${mqttdevice.nClients}"></td>
									<td><a th:href="sdfasfasf" class="btn btn-info btn-xs"><i class="fa fa-info-circle"></i> Details</a>
									<td>
									<form onsubmit="return confirm('Reseting the device password is irreversible. Are you sure you want to proceed?');" th:action="${T(br.inatel.dashboard.constants.Constants).PREFIX} + ${T(br.inatel.dashboard.constants.Constants).LIST_DEVICES_URL}" method="post">
<!-- 									<input th:value="${device.username}" name="username" hidden="true"> -->
<!-- 										<button type="submit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Reset Password</button> -->
									</form>
                        			</td>
								</tr>
							</tbody>
						</table>
							
					</div>
					
					
				</div>
				<div id="message" th:switch="${message}">
                        <div th:case="Success">
                            <div class="alert alert-success alert-dismissible fade in">
                                <strong>Success!</strong> Operation performed successfully.</br>
                            </div>
                            <div class="alert alert-info alert-dismissible fade in">
                                <strong>Username: </strong><p th:text="${deviceUsername}"></p>
                                <strong>Password: </strong><p th:text="${devicePassword}"></p>
                            </div>
                        </div>
                        <div th:case="Failed" class="alert alert-danger alert-dismissible fade in">
                            <strong>Failure!</strong> Operation failed. Please try again 
                        </div>
                        <div th:case="default">

                        </div>
                    </div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->


<div th:replace="footer :: copy"></div>
</div>
</div>
</body>

</html>