<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

    <head th:replace="header :: copy"></head>

    <head th:replace="topSiteANDMenu :: copy"></head>



    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                    
                    

                        <div class="x_title">
                            <h2 th:class="${device.name}" th:if="${device.name} != null" th:text="'Edit device ' + ${device.username}"></h2>
                            <h2 th:if="${device.name} == null">Device Registration</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form id="demo-form2" data-parsley-validate
                                  class="form-horizontal form-label-left"
                                  th:action="${T(br.inatel.dashboard.constants.Constants).PREFIX} +  ${T(br.inatel.dashboard.constants.Constants).NEW_DEVICES_URL}" method="post">

								<div class="form-group" hidden="true">
									<input type="text" name="id" id="id" th:value="${device.id}" 
                                               class="form-control col-md-7 col-xs-12">
                                               </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="inputName">Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="name" id="inputName" th:value="${device.name}" required="required" autocomplete="off"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="inputType">Model 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="model" id="inputModel" th:value="${device.model}"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="inputGroup">ipV6 address 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="ip" id="inputIP" th:value="${device.ip}"
                                               class="form-control col-md-7 col-xs-12" placeholder="::1">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="inputGroup">Latitude
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="latitude" id="inputLatitude" th:value="${device.latitude}"
                                               class="form-control col-md-7 col-xs-12" placeholder="-22.257114">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="inputGroup">Longitude
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="longitude" id="inputLongitude" th:value="${device.longitude}"
                                               class="form-control col-md-7 col-xs-12" placeholder="-45.695150">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="inputGroup">Groups 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="group" id="inputGroup" th:value="${device.groups.toString().substring(1, device.groups.toString().length() -1 )}"
                                               class="form-control col-md-7 col-xs-12" placeholder="group1, group2, group3, group4">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="inputVariable">Variables 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="variable" id="variable" th:value="${device.variables.toString().substring(1, device.variables.toString().length() -1 )}"
                                               class="form-control col-md-7 col-xs-12" placeholder="var1, var2, var3, var4">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="inputAbilities">Abilities 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="abilities" id="abilities" th:value="${device.abilities.toString().substring(1, device.abilities.toString().length() -1 )}"
                                               class="form-control col-md-7 col-xs-12" placeholder="ability1, ability2, ability3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Description
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <textarea class="form-control textAreaDevice" rows="3" name="description" id="inputDescription"  th:text="${device.description}"
                                                 placeholder="Device responsable for controlling the ..."></textarea>
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ability Details
                                        
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <textarea class="form-control col-md-7 col-xs-12" rows="6" name="abilityDetails" id="abilityDetails"  th:text="${device.abilityDetails}"
                                                  placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button class="btn btn-primary" type="reset">Reset</button>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>

                            </form>
                            
                        </div>
                    </div>

                    <div id="message" th:switch="${message}">
                        <div th:case="Success">
                            <div class="alert alert-success alert-dismissible fade in">
                                <strong>Success!</strong> Operation performed successfully.</br>
                            </div>
                            <div class="alert alert-info alert-dismissible fade in">
                                <strong>Username: </strong><p th:text="${deviceUsername}"></p>
                                <strong>Password: </strong><p th:text="${devicePassword}"></p>
                                <strong>Application: </strong><p th:text="${deviceApplication}"></p>
                            </div>
                        </div>
                        <div th:case="Success2">
                            <div class="alert alert-success alert-dismissible fade in">
                                <strong>Success!</strong> Operation performed successfully.</br>
                            </div>
                            
                        </div>
                        <div th:case="Failed" class="alert alert-danger alert-dismissible fade in">
                            <strong>Failure!</strong> Operation failed. Please try again 
                        </div>
                        <div th:case="default">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

    <div th:replace="footer :: copy"></div>
</div>
</div>

</body>

</html>