<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

    <head th:replace="header :: copy"></head>

    <head th:replace="topSiteANDMenu :: copy"></head>



    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>User Registration</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form th:action="${T(br.inatel.dashboard.constants.Constants).PREFIX} +  ${T(br.inatel.dashboard.constants.Constants).SIGN_UP_URL_ADDITIONAL_USER}" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstName">Full name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="fullname" id="inputFullName" class="form-control" placeholder="Daenerys Khaleesi Stormborn Targaryen" required="" />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label required="required" class="control-label col-md-3 col-sm-3 col-xs-12" for="email">E-mail <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="email" id="email" name="email" required="required" placeholder="youremail@somewhere.com" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label col-md-3 col-sm-3 col-xs-12">Password <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="password" name="password" required="required" placeholder="password" class="form-control col-md-7 col-xs-12" type="text">
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button class="btn btn-primary" type="reset">Reset</button>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div id="message" th:switch="${message}">
                        <div th:case="Success">
                            <div class="alert alert-success alert-dismissible fade in">
                                <strong>Success!</strong> Operation performed successfully.</br>
                            </div>
                        </div>
                        <div th:case="Failed" class="alert alert-danger alert-dismissible fade in">
                            <strong th:text="${messageNewUser}"></strong></br>
                            <strong>Failure!</strong> Operation failed. Please try again
                        </div>
                        <div th:case="default">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->


    <div th:replace="footer :: copy"></div>
    <!-- Chart.js -->
</div>
</div>
</body>

</html>