<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>jQuery Editable Select - A simple jQuery Plugin that converts a select into an text field with suggestions.</title>

		
		<!-- Stylesheets -->
		<!-- Optional -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		
		<!-- Optional -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/mono-blue.min.css">
		
		
		<link rel="stylesheet" href="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css">
	</head>
	<body class="container">
		

		<div class="row">
			<div class="col-md-6">
				<h3>Basic example</h3>
				<div class="row form-group">
					<div class="col-md-4">It transforms this</div>
					<div class="col-md-7">
						
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-4">Into this</div>
					<div class="col-md-7" id="basic-place"></div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
		
		
		</div>
		<hr>
		<div class="row">

		</div>
		<hr>

		<hr>
		<div class="row">
			<div class="col-md-6">
				<h3>HTML support</h3>
				<div id="html-place"></div>
			</div>

		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h3>Listen changes</h3>
				<p>
					<select id="select" class="form-control" oninput="executeFilter()">
						<option th:each="device : ${devices}"
							    th:value="${device.username}" 
							    th:text="${device.name} + ' - ' + ${device.username}">                  
						</option>
					</select>
				</p>
				<p>
					Last selected:
					<code id="last-selected"></code>
				</p>
			</div>
		
		</div>
		<hr>

		<hr>
		
		

		
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<!-- Optional -->
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
		
		<!-- Optional -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script> -->
		
		
		<script src="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
		<script>
		var i =0;
		function executeFilter() {
			 setTimeout(function(){ console.log(i);; }, 3000);
			 i=i+1;
		    
		}
			$(document).ready(function() {
				
				$('#select').editableSelect().on('select.editable-select', function (e, li) {
					
				});
				
			});
		</script>
	</body>
</html>